@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'roboto_bold';
    src: url('roboto_bold.ttf') format('ttf');
    font-style: normal;
}
@font-face {
    font-family: 'roboto_regular';
    src: url('roboto_regular.ttf') format('ttf');
    font-style: normal;
}


